<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- Questa chiave viene usata per la risorsa di Application Insights 'Time Sense Windows 10' nel gruppo di risorse 'timesense' -->
  <InstrumentationKey>8fcf732d-f789-4a5f-8ef1-9470a8ea7944</InstrumentationKey>
</ApplicationInsights>